<div class="container">
  <ul class="breadcrumb">
    <li><a href="#!/">home</a></li>
    <li><a href="#!/products">products</a></li>
    <li class="active">{{ vm.item.name }}</li>
  </ul>
</div>
<div class="alert alert-dismissible alert-info container" ng-show="vm.punchline != null">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ vm.punchline }}
</div>
<div class="container">
  <h1> {{ vm.item.name }} </h1>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <img src="images/box.jpg" width="500px">
    </div>
    <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item">
            <p style="font-size: 18px">Price: {{ vm.item.price | currency:"£" }}</p>
        </li>
        <li class="list-group-item">
          <img ng-repeat="i in [1,2,3,4,5]" src="images/glyphicons/png/glyphicons-49-star-empty.png">
        </li>
        <li class="list-group-item">
          <form target="paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" >
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="E89RB4V56KRLG">
          <button type="submit" class="btn btn-primary" ng-disabled="(vm.stock < 1 ) || vm.show">{{ (vm.stock < 1 ) ? "Out of stock" : vm.button}}</button>
          </form>

        </li>
      </ul>
    </div>
  </div>
  <hr>
<div class="well well-lg container">
  <p><strong>Description</strong>: {{ vm.item.description }}</p>
</div>
<ul class="nav nav-tabs">
  <li ng-class=" {'active': vm.isSet(1)} "><a href ng-click="vm.setTab(1)">Product Information</a></li>
  <li ng-class=" {'active': vm.isSet(2)} "><a href ng-click="vm.setTab(2)">Delivery</a></li>
  <li ng-class=" {'active': vm.isSet(3)} "><a href ng-click="vm.setTab(3)">Reviews</a></li>
</ul>
<div id="myTabContent" >
  <div class="tab-pane" ng-show="vm.isSet(1)">
    <p>{{ vm.item.productInformation}}</p>
  </div>
  <div class="tab-pane" ng-show="vm.isSet(2)">
    <p>
      <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Service</th>
      <th>Price</th>
      <th>Delivery</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Standard</td>
      <td>£2.99</td>
      <td>Up to 3 days</td>
    </tr>
  </tbody>
</table>
</p>
  </div>
  <div class="tab-pane" ng-show="vm.isSet(3)">
    <p></p>
  </div>
</div>
</div>
