<div class="container">
  <ul class="breadcrumb">
    <li><a href="#!/">home</a></li>
    <li class="active">products</li>
  </ul>
  <br>
</div>
<div class="container">
  <h1>Products</h1>
  <hr>
</div>

<ul class="list-group container">
  <li ng-repeat="item in vm.items" class="list-group-item">
    <div class="row">
      <div class="col-sm-2">
        <img src="images/box.jpg" class="img-responsive">
      </div>
      <div class="col-sm-2">
        <a ng-href="#!/product/{{ item._id }}">{{ item.name }}</a>
        <p>{{ item.price | currency:"£"}}</p>
        <img ng-repeat="i in [1,2,3,4,5]" src="images/glyphicons/png/glyphicons-49-star-empty.png">
        <p></p>
      </div>
      <div class="col-sm-2">
        <form action="{{'#!/product/' + item._id }}">
            <button type="submit" name="button" class="btn btn-primary">see more</button>
        </form>
      </div>
    </div>
  </li>
</ul>
